$colors: (
    primary-base: #000000,
    secondary-base: #181823,
    light-grey: #8491a0,
    dark-grey: #5b6876,
    text: #ffffff,
    primary: #5221e6,
    primary-opaque: "rgba(82, 33, 230,0.2)",
    green: #3cc74e,
    pink: #e95d90,
    blue: #609bff,
    peach: #fff3e4,
    violet: #fbe4ff,
    cyan: #00ffff,
    cyan-hover: #00ffffd9,
    red: #f24c74,
    red-hover: #f24c74d9,
);
//converting scss variable into css variable
:root {
    @each $name, $color in $colors {
        --color-#{$name}: #{$color};
    }
}
//creating a function to get color instead of using css varible
@function getColor($color-name) {
    @return var(--color-#{$color-name});
}
